/**************Colores**************/
.color-aside{
    background-color: #fddab9;
}
.color-card{
    background-color: #ffefd5;
}
.color-boton-encima:hover{
    border: 1px solid #D62323;
}
.titulo-header {
    background-color: #445EFF;
}
.color-bg-card{
    background-color: #E0ECF5;
}
.formulario-login {
    border: 1px solid  #F6E6C6;
    border-radius: 1px;
}
.input-login {
    padding: 2px;
}
.footer-fondo {
    background-color: #FF7F7F;
}
/**************Estilos***************/


.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    color: #F9E79F;
    text-shadow: -1px -1px 0 black, 4px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}
.animacion-logo {
    width: 150px;
}

.subtitulo {
    background-color: #F9E79F;
}
.subtitulo h2{
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.miNav{
    padding: 0px;
    border-bottom: solid #D62323 2px;
}
nav a {
    color: black;
}
nav a:hover {
    color: black;
    background-color:#EFD044;
}

main {
    flex-grow: 1;
}

footer.links {
    display: flex;
    background-color: #E46464;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li { 
    flex-grow: 1;
}

footer a {
    font-weight: bold;
    color: #E7C943;
}
footer a:hover {
    color: #E7C943;
    text-decoration: none;
}

main .inicio {
    background-color: #E2FCFB;
    padding: 7px;
    margin:7px 0px;
}
.criterios-busqueda, .nueva-incidencia {
    background-color:  #ffefd5;
}
fieldset, form h2, .nueva-incidencia h2{
    background-color: #fcdbb6;
}
fieldset *, .enviarDatos *{
    margin-left: 20px;
}
form {
    padding-bottom: 20px;
}
legend {
    margin-bottom: 3px;
}
.datos {
    margin: 5px 0;
}
#informacionIncidencia { 
    margin-right: 20px;
}

main {
    background-color: #fddab9;
    padding: 20px;

}
/***********Animaciones***********/

.animacion-logo:hover {
    animation: agitar 0.3s ease-in-out infinite;
}
@keyframes agitar {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}