{% extends "prueba.html" %}

{% block main %}
    {% if tipo == 'criteriosBusqueda' %}
        <h2 class="editIncidencia">Se han guardado los criterios de busqueda de las incidencias</h2>
    {% elseif tipo == 'editar' %}
        <h2 class="editIncidencia">Se han modificado los datos de la incidencia</h2>
    {% elseif tipo == 'borrar' %}
        <h2 class="editIncidencia">La incidencia ha sido eliminada</h2>
    {% elseif tipo == 'opinionPositiva' %}
        <h2 class="editIncidencia">Opinion positiva registrada</h2>
    {% elseif tipo == 'opinionNegativa' %}
        <h2 class="editIncidencia">Opinion negativa registrada</h2>
    {% elseif tipo == 'opinionAnonimo' %}
        <h2 class="editIncidencia">Usted ya ha opinado como usuario anónimo sobre esta incidencia {{valoracion == 1 ? '(+)' : '(-)'}}</h2>
    {% elseif tipo == 'opinionUsuario' %}
        <h2 class="editIncidencia">Usted ya ha opinado como usuario registrado sobre esta incidencia {{valoracion == 1 ? '(+)' : '(-)'}}</h2>
    {% elseif tipo == 'comentario' %}
        <h2 class="editIncidencia">El comentario se ha añadido correctamente</h2>
    {% elseif tipo == 'borrarComentario' %}
        <h2 class="editIncidencia">El comentario ha sido eliminado correctamente</h2>
    {% else %}
    <h1>AAAAAAAAAAAA</h1>
    {% endif %}
{% endblock %}