{% extends 'prueba.html' %}

{% block main %}
<div>
    <h2 class="editUser">Edición de usuario</h2>
</div>

<form action="{{confirmacion ? 'inicioController.php' : ''}}" method="POST" class="formulario" enctype="multipart/form-data">
    
    <div class="row align-items-center form-elements">
        <div class="col-12 col-md-2 mb-1">
            <label for="fotoActual">Foto:</label>
            
        </div>
        
        <div class="col-12 col-md-9 mb-1">
            <img class="imgUsuario" src="data:image/jpeg;base64,{{(datosNuevos == null) ? datosUsuario.foto : datosNuevos.foto}}" alt="Foto actual">
            {% if not confirmacion %}
                <input type="file" id="nuevaFoto" name="examinar" accept="image/*"> 
            {% endif %}
        </div>
        
        
        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Nombre:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <input type="text" class="form-control" name="nombre" value="{{(datosNuevos == null) ? datosUsuario.nombre : datosNuevos.nombre}}"
                    {{ confirmacion ? 'readonly' : '' }}>
        </div>

        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Apellidos:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <input type="text" class="form-control" name="apellidos" value="{{(datosNuevos == null) ? datosUsuario.apellidos : datosNuevos.apellidos}}"
                    {{ confirmacion ? 'readonly' : '' }}>
        </div>

        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Email:</label>
        </div>
        <div class="col-12 col-md-9 mb-1 flex-row d-flex">
            <input type="text" class="form-control" name="email" 
                value="{{(datosNuevos == null) ? datosUsuario.email : (datosNuevos.email != 'incorrecto') ? datosNuevos.email : ''}}"
                {{ confirmacion ? 'readonly' : '' }}>
            {% if datosNuevos.email == 'incorrecto' %}
                <p class="text-danger ml-2">El email introducido no es correcto</p>
            {% endif %}
        </div>
        

        
        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Dirección:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <input type="text" class="form-control" name="direccion" value="{{(datosNuevos == null) ? datosUsuario.direccion : datosNuevos.direccion}}"
                    {{ confirmacion ? 'readonly' : '' }}>
        </div>
        
        
        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Teléfono:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <input type="text" class="form-control" name="telefono" 
                value="{{(datosNuevos == null) ? datosUsuario.telefono : (datosNuevos.telefono != 'incorrecto') ? datosNuevos.telefono : ''}}"
                {{ confirmacion ? 'readonly' : '' }}>
            {% if datosNuevos.telefono == 'incorrecto' %}
                <p class="text-danger ml-2">El teléfono introducido no es correcto</p>
            {% endif %}
        </div>
        
        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Rol:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <select name="rol" {{ confirmacion ? 'disabled' : '' }}> 
                <option value="Colaborador" {% if datosNuevos.rol|default(datosUsuario.rol) == 'colaborador' %}selected{% endif %}>Colaborador</option>
                {% if datosUsuario.rol == 'administrador'%}
                    <option value="Administrador" {% if datosNuevos.rol|default(datosUsuario.rol) == 'administrador' %}selected{% endif %}>Administrador</option>  
                {% endif %}
            </select>
        </div>

        <div class="col-12 col-md-2 mb-1">
            <label class="col-form-label">Estado:</label>
        </div>
        <div class="col-12 col-md-9 mb-1">
            <select name="estado" {{ confirmacion ? 'disabled' : '' }}>
                <option value="Activo" {% if datosNuevos.estado|default(datosUsuario.estado) == 'activo' %}selected{% endif %}>Activo</option>
                {% if datosUsuario.rol == 'administrador'%}
                    <option value="Inactivo" {% if datosNuevos.estado|default(datosUsuario.estado) == 'inactivo' %}selected{% endif %}>Inactivo</option>
                {% endif %}
            </select>
        </div>
        
        <div class="col-12 col-md-2 mb-1">
            <input type="submit" name="{{ confirmacion ? 'confirmarUsuario' : 'modificarUsuario' }}"
            value="{{ confirmacion ? 'Confirmar la modificacion del usuario' : 'Modificar usuario' }}">
        </div>
        
    </div>
</form>

{% endblock %}