{% extends "prueba.html" %}

{% block main %}
<div class="row">
    <div class="col rounded-card">
        <div class="row w-100 m-0">
            <div class="col color-aside text-center">
                <h2 class="m-auto">Gestión de usuarios</h2>
            </div>
        </div>
        <div class="row w-100 m-0">
            <div class="col color-aside">
                <h3>Indique la acción a realizar</h3>
                <div class="acciones w-90 m-auto color-card">
                    <ul class="list-unstyled ml-2">
                        <li class=""><a href="">Listado</a></li>
                        <li><a href="">Añadir nuevo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row w-100 m-0">
            <div class="col d-flex flex-wrap justify-content-around color-bg-card ">
                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/borrar.png" class="rounded-circle card-img-top" alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/borrar.png" class="rounded-circle card-img-top" alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/enrique.png" class="rounded-circle card-img-top " alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/borrar.png" class="rounded-circle card-img-top" alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/borrar.png" class="rounded-circle card-img-top" alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 20rem;">
                    <img src="../view/img/borrar.png" class="rounded-circle card-img-top" alt="...">
                    <div class="card-body color-aside">
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <label class="font-weight-bold">Usuario:</label>
                                    <span>Antonio Pérez Pérez</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>antonio@sindominio.conocido</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Dirección:</label>
                                    <span>C/ de la Calle numero1</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Teléfono:</label>
                                    <span>666611111</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Rol:</label>
                                    <span>Colaborador</span>
                                </div>
                                <div class="d-block">
                                    <label class="font-weight-bold">Estado:</label>
                                    <span>Activo</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  w-50 m-auto  d-flex justify-content-end ">
                            <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                <input type="image" class="icono mr-2" src="../view/img/editar.png"
                                    alt="editar">
                                <input type="image" class="icono ml-3" src="../view/img/borrar.png"
                                    alt="borrar">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
{% endblock %}