{% extends "prueba.html" %}

{% block main %}
<div class="row">
    <div class="col rounded-card">
        <div class="row w-100 m-0">
            <div class="col color-aside text-center">
                <h2 class="m-auto">Gestión de usuarios</h2>
            </div>
        </div>
        <div class="row w-100 m-0">
            <div class="col color-aside">
                <h3>Indique la acción a realizar</h3>
                <div class="acciones w-90 m-auto color-card">
                    <ul class="list-unstyled ml-2">
                        <li class=""><a href="">Listado</a></li>
                        <li><a href="">Añadir nuevo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row w-100 m-0">
            <div class="col d-flex flex-wrap justify-content-around color-bg-card ">
                {% for parte in datosCompletosUsuarios %}
                    <div class="card color-card mt-3 mb-3 rounded-card bg-light" style="width: 18rem;">
                        <img src="data:image/jpeg;base64,{{ parte.foto }}" class="card-img-top" alt="...">
                        <div class="card-body color-aside d-flex flex-column">
                            <div class="row">
                                <div class="col">
                                    <div class="d-block">
                                        <label class="font-weight-bold">Usuario:</label>
                                        <span>{{ parte.nombreCompleto }}</span>
                                    </div>
                                    <div class="d-block">
                                        <label class="font-weight-bold">Email:</label>
                                        <span>{{ parte.email }}</span>
                                    </div>
                                    <div class="d-block">
                                        <label class="font-weight-bold">Dirección:</label>
                                        <span>{{ parte.direccion }}</span>
                                    </div>
                                    <div class="d-block">
                                        <label class="font-weight-bold">Teléfono:</label>
                                        <span>{{ parte.telefono }}</span>
                                    </div>
                                    <div class="d-block">
                                        <label class="font-weight-bold">Rol:</label>
                                        <span>{{ parte.rol }}</span>
                                    </div>
                                    <div class="d-block">
                                        <label class="font-weight-bold">Estado:</label>
                                        <span>{{ parte.estado }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-50 d-flex  mt-auto mb-0 mr-1 align-self-end">
                                <div class="col d-flex justify-content-center p-2 color-card rounded-card">
                                    <a href="editarUsuarioController.php?email={{ parte.email }}" class="icono mr-2">
                                        <img class="icono mr-2" src="../view/img/editar.png" alt="editar">
                                    </a>
                                    <a href="editarUsuarioController.php?email={{ parte.email }}" class="icono ml-3">
                                        <img class="icono mr-2" src="../view/img/borrar.png" alt="borrar">
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}