{% extends 'prueba.html' %}

    
{% block main %}
    {% block criterios %}
    
    {% endblock %}

<div class="row w-100 m-0 incidencia">
    <div class="col">
        {% for incidencia in todasIncidencias %}
        <div class="card color-bg-card mb-2">
            <div class="card-header titulo-header text-light p-1">
                <h2>{{ incidencia.titulo }}</h2>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col d-flex flex-wrap justify-content-between justify-content-md-start">
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">Lugar:</label>
                            <span>{{ incidencia.lugar }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Fecha:
                            </label>
                            <span>{{ incidencia.fecha }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Creado por:
                            </label>
                            <span>{{ incidencia.nombreUsuario }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Palabras clave:
                            </label>
                            <span>{{ incidencia.keywords }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Estado:
                            </label>
                            <span>{{ incidencia.estado }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Valoraciones:
                            </label>
                            <span>Pos: 2,Neg: 0</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="informacionIncidencia">
                            <label>{{ incidencia.descripcion }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-wrap justify-content-around">
                        {% if incidencia.fotos != null %}
                            {% for foto in incidencia.fotos %}
                                <img class="imgIncidencia" src="data:image/jpeg;base64,{{ foto.fotografia }}">
                            {% endfor %}
                        {% else %}
                            <p class="text-info m-5">Este usuario aún no ha subido imágenes </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <label class="font-weight-bold">
                                    Mario antonio Lopez
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>
                                    2023-05-02 15:25:53
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Impedit
                        exercitationem eius alias totam neque expedita atque molestiae, autem in,
                        ratione nostrum. Accusamus provident voluptates iste tempora? Assumenda
                        dolores
                        obcaecati est
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="col color-incidencia">
                                <label class="font-weight-bold">
                                    Mario antonio Lopez
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col color-incidencia">
                                <span>
                                    2023-05-02 15:25:53
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 color-incidencia">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Impedit
                        exercitationem eius alias totam neque expedita atque molestiae, autem in,
                        ratione nostrum. Accusamus provident voluptates iste tempora? Assumenda
                        dolores
                        obcaecati est
                    </div>
                </div>
            </div>
            <div class="row color-card w-100 m-auto p-2">
                <div class="col">
                    <form class="p-0" action="" method="post">
                        <textarea class="d-block w-100 form-control" name="comentarioNuevo" cols="30"
                            rows="10"></textarea>
                        <input class="m-auto d-block" type="submit" value="Escribir comentario">
                    </form>
                </div>
            </div>
            <div class="row color-card w-100 m-0">
                <div class="col d-flex justify-content-end">
                    <input type="image" class="icono m-2" src="../view/img/positivo.png"
                        alt="votoPositivo">
                    <input type="image" class="icono m-2" src="../view/img/negativo.png"
                        alt="votoNegativo">
                    <input type="image" class="icono m-2" src="../view/img/comentarios.png" alt="comentario">
                    <a href="editarIncidenciaController.php?id={{ incidencia.id }}" class="icono mr-2">
                        <img class="icono m-2" src="../view/img/editar.png" alt="editar">
                    </a>
                    <a href="borrarIncidenciaController.php?id={{ incidencia.id }}" class="icono mr-2">
                        <img class="icono m-2" src="../view/img/borrar.png" alt="borrar">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}