{% extends 'prueba.html' %}

    
{% block main %}

{% if comentar is defined %}
    <h2 class="info">Añadir comentario</h2>
{% else %}
    <h2 class="info">Listado de incidencias</h2>
{% endif %}

    {% block criterios %}
    
    {% endblock %}

<div class="row w-100 m-0 incidencia">
    <div class="col">
        {% for incidencia in todasIncidencias %}
        <div class="card color-bg-card mb-2">
            <div class="card-header titulo-header text-light p-1">
                <h2>{{ incidencia.titulo }}</h2>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col d-flex flex-wrap justify-content-between justify-content-md-start">
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">Lugar:</label>
                            <span>{{ incidencia.lugar }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Fecha:
                            </label>
                            <span>{{ incidencia.fecha }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Creado por:
                            </label>
                            <span>{{ incidencia.nombreUsuario }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Palabras clave:
                            </label>
                            <span>{{ incidencia.keywords }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Estado:
                            </label>
                            <span>{{ incidencia.estado }}</span>
                        </div>
                        <div id="informacionIncidencia" class="mr-2">
                            <label class="font-weight-bold">
                                Valoraciones:
                            </label>
                            <span>Pos: {{ incidencia.valoracion.positiva }},Neg: {{ incidencia.valoracion.negativa }} </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="informacionIncidencia">
                            <label>{{ incidencia.descripcion }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-wrap justify-content-around">
                        {% if incidencia.fotos != null %}
                            {% for foto in incidencia.fotos %}
                                <img class="imgIncidencia" src="data:image/jpeg;base64,{{ foto.fotografia }}">
                            {% endfor %}
                        {% else %}
                            <p class="text-info m-5">Este usuario aún no ha subido imágenes </p>
                        {% endif %}
                    </div>
                </div> 
                {% if comentar is defined and comentar == incidencia.id %}
                <div class="row color-card w-100 m-auto p-2">
                    <div class="col">  
                        <form class="p-0" action="" method="post">
                            <textarea class="d-block w-100 form-control" name="comentarioNuevo" cols="30"
                                rows="10"></textarea>
                            <input class="m-auto d-block" type="submit" value="Escribir comentario">
                        </form>
                    </div>
                </div>
                {% endif %}
                {% for comentario in incidencia.comentarios %}
                <div class="row {% if loop.index % 2 != 0 %} color-incidencia {% endif %}">
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <label class="font-weight-bold">
                                    {{ comentario.nombreUsuario }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>
                                    {{ comentario.fecha }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        {{ comentario.comentario }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row color-card w-100 m-0">
                <div class="col d-flex justify-content-end pb-2 pt-2">
                    <a href="valoracionesController.php?id_incidencia={{ incidencia.id }}&id_usuario={{ datosUsuario.email == null ? 'anonimo' : datosUsuario.email }}&val=1" 
                        target="_self" class="icono mr-2">
                        <img class="icono" src="../view/img/positivo.png" alt="votoPositivo">
                    </a>
                    
                    <a href="valoracionesController.php?id_incidencia={{ incidencia.id }}&id_usuario={{ datosUsuario.email == null ? 'anonimo' : datosUsuario.email }}&val=2" 
                        target="_self" class="icono mr-2">
                        <img class="icono" src="../view/img/negativo.png" alt="votoNegativo">
                    </a>
                   
                    <a href="comentarIncidenciaController.php?id={{ incidencia.id }}" target="_self" class="icono mr-2">
                        <img class="icono" src="../view/img/comentarios.png" alt="comentar">
                    </a>
                    {% if incidencia.id_usuario == datosUsuario.email or  datosUsuario.rol == 'administrador' %}
                        <a href="editarIncidenciaController.php?id={{ incidencia.id }}" class="icono mr-2">
                            <img class="icono" src="../view/img/editar.png" alt="editar">
                        </a>
                        <a href="borrarIncidenciaController.php?id={{ incidencia.id }}" class="icono mr-2">
                            <img class="icono" src="../view/img/borrar.png" alt="borrar">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}