{% extends 'prueba.html' %}

{% block main %}
<div class="inicio">
    <h2>Bienvenido/a a este sitio web</h2>

    <ul>Práctica realizada por:
        <li>Enrique Araque Espinosa (A2)</li>
        <li>Christian López Román (A3)</li>
    </ul>
    <p>
        La documentación de la práctica se podrá encontrar en el footer en la seccón de 'Manual de Uso'.
    </p>
    <p>
        Aquí podrá consultar las quejas de los vecinos de Lipmpiolandia. Además, si se da de alta en la web podrá incluir sus propias quejas
        para que sean tenidas en cuenta.
    </p>

    <p>
        Para darse de alta envíe un correo a cualquiera de los administradores del sitio, por ejemplo admin@admin.admin y estos contactarán
        con usted en cuanto sea posible.
    </p>
</div>
{% endblock %}
