{% extends "prueba.html" %}

{% block main %}
<div class="row w-100 m-0">
    <div class="col color-card p-0">
        <h2 class="pt-3 pb-3">Eventos del sistema</h2>
        <div class="row w-100 m-0 color-aside">
            <div class="col-4 p-0"><span>2023-05-02 15:25:53</span></div>
            <div class="col-8 p-0">INFO: El usuario admin@localhost.domain accede al sistema</div>
        </div>
        <div class="row w-100 m-0 color-card">
            <div class="col-4 p-0"><span>2023-05-02 15:25:53</span></div>
            <div class="col-8 p-0">INFO: El usuario admin@localhost.domain accede al sistema</div>
        </div>
        <div class="row w-100 m-0 color-aside">
            <div class="col-4 p-0"><span>2023-05-02 15:25:53</span></div>
            <div class="col-8 p-0">INFO: El usuario admin@localhost.domain accede al sistema</div>
        </div>
    </div>
</div>
{% endblock %}